Django
django-extensions
django-browser-reload
django-ckeditor
django-cors-headers
django-import-export
django-js-asset
django-tailwind
django-tinymce
django-tinymce4-lite
django_components
openpyxl
Pillow
virtualenv
python-dateutil
psycopg[binary]
requests
huey