{% if show_label %}
    <div class="field" id="{{ element.auto_id }}">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ element.auto_id }}">{{ element.label }}</label>
    {% endif %}
    {% slot "input" %}
        <textarea id="{{ element.auto_id }}"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                  rows="3"
                  name="{{ element.name }}" 
                  {% include "./_attrs.html" %}
                  {% slot "extra_attrs" %}
                  {% endslot %}>{% if element.value %}{{ element.value }}{% endif %}</textarea>
    {% endslot %}
    {% if element.errors %}
        <div class="text-red-500 text-xs italic mb-3">{{ element.errors }}</div>
    {% endif %}
    {% if show_help_text and element.help_text %}
        <div class="field__help-text">{{ element.help_text|safe }}</div>
    {% endif %}
    {% if show_label %}</div>{% endif %}

<!--{% if element.field.required %}required{% endif %}-->